<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Ažuriranje poduzeća</title>
</head>
<style>
    html {
        background-color: #232f83;
    }
</style>
<body>
<div class="w3-card-4 w3-center w3-display-middle w3-light-grey" style="width: 50%; position: fixed">
    <div class="w3-container w3-gray">
        <h2 class="w3-text-light-grey"><b>Ažuriranje poduzeća</b>
            <button class="w3-right button-30" onclick="window.location.href='/company/all'"><b>Odustani</b></button>
        </h2>
    </div>
    <form class="w3-container w3-light-grey" action="#" th:action="@{/company/save}" th:object="${company}"
          method="POST">
        <div class="w3-row-padding">
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="idCompany"><b>ID poduzeća</b><br></label>
                <input class="w3-input w3-border w3-round w3-center" id="idCompany" name="idCompany" type="text"
                       th:field="*{idCompany}" placeholder="Nepotreban unos, sustav sam upisuje!" readonly></p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="companyName"><b>Naziv poduzeća</b><br></label>
                <label id="error-message" class="error alert alert-danger" role="alert" th:text="${error}"
                       th:if="${error}"></label>
                <input class="w3-input w3-border w3-round w3-center" id="companyName" name="companyName"
                       type="text" th:field="*{companyName}" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Ispunite polje za naziv poduzeća!')"></p>
            <div>
                <div>
                    <button class="button-30"><b>Ažuriraj poduzeće</b></button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    function hidediv() {
        var errMessages = document.getElementsByClassName('error');
        for (var i = 0; i < errMessages.length; i++) {
            errMessages[i].style.display = "none";
        }
    }

    setTimeout("hidediv()", 5000);
</script>
</html>
