<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<script type="text/javascript" src="../static/javascript/hidedivMobitel.js"
        th:src="@{/javascript/hidedivMobitel.js}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiteli</title>
</head>
<style>
    html {
        background-color: lightgray;
    }

    table {
        border-collapse: collapse;
        width: auto;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        font-size: small;
    }

    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 99;
        padding: 5px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .forms-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .form {
        margin-right: 0px;
        margin-bottom: 10px;
    }
</style>
<body>
<div class="w3-sidebar w3-bar-block" style="display:none;z-index:5; height: 100%; position: fixed; bottom: 0; left: 0;"
     id="mySidebar">
    <div class="sidebar-top">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Zatvori &times;</button>
        <a th:href="@{/index}" class="w3-bar-item w3-button">Glavni izbornik</a>
        <a th:href="@{/racun/all}" class="w3-bar-item w3-button">Računi/Dokumenti</a>
        <a th:href="@{/file/all}" class="w3-bar-item w3-button">Datoteke</a>
        <a th:href="@{/dobavljac/all}" class="w3-bar-item w3-button">Dobavljači</a>
        <a th:href="@{/vrstaUredaja/all}" class="w3-bar-item w3-button">Vrste sredstva</a>
        <a th:href="@{/lokacija/all}" class="w3-bar-item w3-button">Lokacije</a>
        <a th:href="@{/korisnik/all}" class="w3-bar-item w3-button">Korisnici</a>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop2','icon2')">
                Oprema <i id="icon2" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop2" class="w3-hide w3-white w3-card">
                <a th:href="@{/inventar/all}" class="w3-bar-item w3-button">Osnovna sredstva</a>
                <a th:href="@{/inventarIT/all}" class="w3-bar-item w3-button">IT oprema</a>
            </div>
        </div>
        <a th:href="@{/razduzenje/all}" class="w3-bar-item w3-button">Razduženja</a>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop1','icon1')">
                Inventura <i id="icon1" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop1" class="w3-hide w3-white w3-card">
                <a th:href="@{/inventura/all}" class="w3-bar-item w3-button">Inventure</a>
                <a th:href="@{/provodenjeInventure/all}" class="w3-bar-item w3-button">Izvršavanje inventure</a>
            </div>
        </div>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop4','icon4')">
                Settings <i id="icon4" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop4" class="w3-hide w3-white w3-card">
                <a th:href="@{/appUsers/all}" class="w3-bar-item w3-button">App useri</a>
                <a th:href="@{/company/all}" class="w3-bar-item w3-button">Company</a>
            </div>
        </div>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop','icon')">
                Password settings <i id="icon" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop" class="w3-hide w3-white w3-card">
                <a th:href="@{/appUsers/userResetPassword/}" class="w3-bar-item w3-button">Reset password</a>
            </div>
        </div>
    </div>
    <div class="sidebar-bottom">
        <img src="../images/A.jpg" alt="Logo" style="width: 175px; height: 175px;">
        <button id="logout" type="button" onclick="window.location.href='/logout'" style="margin-top: 10px;">Logout
        </button>
    </div>
</div>
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
<div>
    <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
    <a th:href="@{/index}">
        <img src="../images/AITACvaluesChallengesSolutions.png" class="centered-image" alt="Aitac VCS">
    </a>
</div>
<div>
    <h1 class="w3-padding w3-center w3-opacity w3-xxxlarge" style="text-shadow:1px 1px 0 #444"><b>Mobiteli</b></h1>
</div>
<div class="div-container">
    <a th:href="@{/phones/addNew}" class="button-add"><i class="material-icons">add_circle</i> Novi mobitel</a>
    <a th:href="@{/phones/generatePDF}" class="button-30 button-right">Izvještaj <i class="material-icons">picture_as_pdf</i></a>
    <button id="printButton" onclick="submitForm()" class="button-30" disabled>Zaduženje za označene <i
            class="material-icons">picture_as_pdf</i></button>
</div>
<div class="forms-container" style="display: flex;">
    <form id="form1" class="w3-container w3-padding form" th:action="@{/phones/find}" method="get">
        <label for="inventarniBroj"></label>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <input type="text" id="inventarniBroj" name="inventarniBroj" placeholder="Pretraži po inv. broju" required
                   onchange="this.setCustomValidity('')"
                   oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
            <div style="margin-top: 10px">
                <button onclick="hidedivMobitel()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                            style="font-size:12px"></i>
                    Pretraži
                </button>
                <button type="button" class="button-small" onclick="window.location.href='/phones/all'">Prikaži
                    sve
                </button>
            </div>
        </div>
        <label id="error-message" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
    </form>
    <form id="form6" class="w3-container w3-padding form" th:action="@{/phones/findBySerialNumber}" method="get">
        <label for="serialNumber"></label>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <input type="text" id="serialNumber" name="serialNumber" placeholder="Pretraži po serijskom br." required
                   onchange="this.setCustomValidity('')"
                   oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
            <div style="margin-top: 10px">
                <button onclick="hidedivMobitel2()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                             style="font-size:12px"></i>
                    Pretraži
                </button>
                <button type="button" class="button-small" onclick="window.location.href='/phones/all'">Prikaži
                    sve
                </button>
            </div>
        </div>
        <label id="error-message2" class="alert alert-danger" role="alert" th:text="${error2}"
               th:if="${error2}"></label>
    </form>
    <form id="form4" class="w3-container w3-padding form" th:action="@{/phones/findByUser}" method="get">
        <label for="lastName"></label>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <input type="text" id="lastName" name="lastName" placeholder="Upišite prezime korisnika" required
                   onchange="this.setCustomValidity('')"
                   oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
            <div style="margin-top: 10px">
                <button onclick="hidedivMobitel3()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                             style="font-size:12px"></i>
                    Pretraži po korisniku
                </button>
                <button type="button" class="button-small" onclick="window.location.href='/phones/all'">Prikaži
                    sve
                </button>
            </div>
        </div>
        <label id="error-message3" class="alert alert-danger" role="alert" th:text="${error3}"
               th:if="${error3}"></label>
    </form>
    <form id="form3" class="w3-container w3-padding form" th:action="@{/phones/findByLokacija}" method="get"
          th:object="${allLokacija}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <select class=" w3-border w3-round w3-center" id="idLokacije" name="idLokacije" required
                    onchange="this.setCustomValidity('');updateRequiredFields()"
                    oninvalid="this.setCustomValidity('Odaberite lokaciju!')">
                <option value="">Odaberite lokaciju</option>
                <option th:each="lokacija : ${allLokacija}" th:value="${lokacija.idLokacije}"
                        th:text="${lokacija.nazivLokacije}"></option>
            </select>
            <div style="margin-top: 17px">
                <button onclick="hidedivMobitel()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                            style="font-size:12px"></i>
                    Pretraži po lokaciji
                </button>
            </div>
        </div>
    </form>
    <form id="form5" class="w3-container w3-padding form" th:action="@{/phones/findByTarifa}" method="get"
          th:object="${allTarifa}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <select class=" w3-border w3-round w3-center" id="idTarife" name="idTarife" required
                    onchange="this.setCustomValidity('');updateRequiredFields()"
                    oninvalid="this.setCustomValidity('Odaberite tarifu!')">
                <option value="">Odaberite tarifu</option>
                <option th:each="tarifa : ${allTarifa}" th:value="${tarifa.idTarife}"
                        th:text="${tarifa.nazivTarife}"></option>
            </select>
            <div style="margin-top: 17px">
                <button onclick="hidedivMobitel()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                         style="font-size:12px"></i>
                    Pretraži po tarifi
                </button>
            </div>
        </div>
    </form>
</div>
<div style="overflow-x:auto;">
    <table style="table-layout:fixed;word-wrap:break-word" class="w3-table-all w3-hoverable w3-centered w3-card-4">
        <thead>
        <tr>
            <th style="width: 100px;padding-left: 8px" class="w3-dark-grey">Inventarni<br>broj<br><input type="checkbox"
                                                                                                         id="checkAll">
            </th>
            <th style="width: 150px" class="w3-dark-grey">Naziv<br>uređaja</th>
            <th class="w3-dark-grey">Serijski broj</th>
            <th class="w3-dark-grey">Vrsta uređaja<br></th>
            <th class="w3-dark-grey">Korisnik</th>
            <th style="width: 120px" class="w3-dark-grey">Datum zaduženja</th>
            <th style="width: 120px" class="w3-dark-grey">Istek garancije</th>
            <th class="w3-dark-grey">Račun</th>
            <th class="w3-dark-grey">Dobavljač</th>
            <th class="w3-dark-grey">Nabavna vrijednost</th>
            <th class="w3-dark-grey">Broj mobitela</th>
            <th class="w3-dark-grey">Mobilna tarifa</th>
            <th class="w3-dark-grey">Napomena</th>
            <th class="w3-dark-grey"></th>
            <th class="w3-dark-grey"></th>
            <th class="w3-dark-grey"></th>
        </tr>
        </thead>
        <tbody>
        <form id="selectedItemsForm" th:action="@{/inventarIT/printPDFzaduzenja}" method="get">
            <tr th:each="inventar:${savInventar}">
                <td><span th:text="${inventar.inventarniBroj}"></span><br><input type="checkbox"
                                                                                 th:value="${inventar.inventarniBroj}"
                                                                                 name="selectedItems"></td>
                <td th:text="${inventar.nazivUredaja}"></td>
                <td th:text="${inventar.serijskiBroj}"></td>
                <td th:text="${inventar.vrstaUredaja.nazivVrsteUredaja}"></td>
                <td><p th:if="${inventar.korisnik != null && inventar.korisnik.username != null}">
                    <span th:text="${inventar.korisnik.firstName}"></span>
                    <span th:text="${inventar.korisnik.lastName}"></span>
                </p>
                    <p th:unless="${inventar.korisnik != null && inventar.korisnik.username != null}">
                    </p></td>
                <td style="width: 120px" th:text="${inventar.datumZaduzenja}"></td>
                <td style="width: 120px" th:text="${inventar.warrantyEnding}"></td>
                <td>
                    <p th:if="${inventar.racun != null && inventar.racun.brojRacuna != null}">
                        <span th:text="${inventar.racun.brojRacuna}"></span>
                    </p>
                    <p th:unless="${inventar.racun != null && inventar.racun.brojRacuna != null}"></p>
                    <a th:if="${inventar.racun != null && inventar.racun.file != null}"
                       th:href="@{'/file/download/' + ${inventar.racun.file.id}}" type="button" class="button-zaduzi">
                        <span class="material-symbols-outlined">file_save</span>
                    </a>
                </td>
                <td>
                    <p th:if="${inventar.dobavljac != null && inventar.dobavljac.nazivDobavljaca != null}">
                        <span th:text="${inventar.dobavljac.nazivDobavljaca}"></span>
                    </p>
                    <p th:unless="${inventar.dobavljac != null && inventar.dobavljac.nazivDobavljaca != null}"></p>
                </td>
                <td><p th:if="${inventar.nabavnaVrijednost != null}">
                    <span th:text="${inventar.nabavnaVrijednost} + ' EUR'"></span>
                </p>
                    <p th:unless="${inventar.nabavnaVrijednost != null}">
                        <span th:text="' EUR'"></span>
                    </p>
                    <p th:if="${inventar.razlikaCijenePlacena == true && inventar.nabavnaVrijednost > 650}">
                        <span>Razlika plaćena: <strong style="color: green">DA</strong></span>
                    </p>
                    <p th:if="${inventar.razlikaCijenePlacena == false && inventar.nabavnaVrijednost > 650}">
                        <span>Razlika plaćena: <strong style="color: red">NE</strong></span>
                    </p>
                </td>
                <td th:text="${inventar.brojMobitela}"></td>
                <td>
                    <p th:if="${inventar.mobilnaTarifa != null && inventar.mobilnaTarifa.nazivTarife != null}">
                        <span th:text="${inventar.mobilnaTarifa.nazivTarife}"></span>
                    </p>
                    <p th:unless="${inventar.mobilnaTarifa != null && inventar.mobilnaTarifa.nazivTarife != null}"></p>
                </td>
                <td th:text="${inventar.napomena}"></td>
                <td>
                    <a th:if="${inventar.nabavnaVrijednost > 650 && inventar.razlikaCijenePlacena==false && inventar.getKorisnik()!=null}"
                       style="font-size:15px"
                       th:href="@{/phones/razlikaPlacena/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                       type="button" class="button-zaduzi">
                        Razlika<br>plaćena
                    </a>
                    <a th:if="${inventar.korisnik == null || inventar.korisnik.username == null}"
                       style="font-size:15px"
                       th:href="@{/phones/zaduzi/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                       type="button" class="button-zaduzi">Zaduži</a>

                    <a th:if="${inventar.korisnik != null && inventar.korisnik.username != null}"
                       style="font-size:15px"
                       th:href="@{/phones/razduzi/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                       type="button" class="button-zaduzi">Razduži</a>
                </td>
                <td><a th:href="@{/phones/update/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                       type="button" class="button-edit"><i class="fa fa-edit" style="font-size:24px"></i></a>
                    <a th:href="@{/phones/ean13/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                       type="button" class="button-edit"><i class="fa fa-barcode" style="font-size:32px"></i></a></td>
                <td><a th:if="${inventar.nabavnaVrijednost > 650 && inventar.razlikaCijenePlacena==false && inventar.getKorisnik()!=null}"
                       style="font-size:15px"
                       th:href="@{/phones/printPDFpotvrde/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                       type="button" class="button-zaduzi">
                    Potvrda<br>plaćeno
                    </a>
                    <a style="font-size:128px"
                       href="javascript:void(0);"
                       th:data-inventarni-broj="${inventar.inventarniBroj}"
                       onclick="confirmDelete()"
                       class="button-delete"><i class="material-icons">remove_circle</i></a></td>
            </tr>
        </form>
        </tbody>
    </table>
    <button id="scrollToTopBtn" title="Go to top" class="button-toTop">Na početak</button>
</div>
<script>
    var scrollToTopBtn = document.getElementById("scrollToTopBtn");
    // Show the button when user scrolls down 20px from the top of the document
    window.onscroll = function () {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    };
    // Scroll to the top of the document when the button is clicked
    scrollToTopBtn.onclick = function () {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    };
</script>
<script>
    function confirmDelete() {
        // Retrieve the inventarniBroj value from the data attribute
        var dataAttribute = event.currentTarget.getAttribute('data-inventarni-broj');
        var isConfirmed = confirm("Are you sure you want to delete?");

        if (isConfirmed) {
            window.location.href = `/phones/delete/${dataAttribute}`;
        }
    }
</script>
<script>
    function submitForm() {
        document.getElementById('selectedItemsForm').submit();
    }
</script>
<script>
    // Get all checkboxes
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');

    // Function to check if any checkbox is checked
    function checkIfAnyChecked() {
        var anyChecked = false;
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                anyChecked = true;
            }
        });
        return anyChecked;
    }

    // Function to enable/disable printButton based on checkbox status
    function updatePrintButton() {
        var printButton = document.getElementById('printButton');
        if (checkIfAnyChecked()) {
            printButton.disabled = false;
        } else {
            printButton.disabled = true;
        }
    }

    // Attach event listener to checkboxes to update printButton status
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', updatePrintButton);
    });
</script>
<script>
    // JavaScript to handle checkbox functionality
    window.onload = function () {
        // Select the checkbox in the header
        var checkAll = document.getElementById('checkAll');
        // Add event listener to the checkbox
        checkAll.addEventListener('click', function () {
            // Select all checkboxes in the table body
            var checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');
            // Toggle the checked state of each checkbox based on the header checkbox
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = checkAll.checked;
            });
        });
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Set focus on the inventarniBroj input field when the page is loaded
        document.getElementById('inventarniBroj').focus();
    })
</script>
<!--<script>-->
<!--    function resetPasswordDropFunc() {-->
<!--        var x = document.getElementById("resetPasswordDrop");-->
<!--        if (x.className.indexOf("w3-show") == -1) {-->
<!--            x.className += " w3-show";-->
<!--            x.previousElementSibling.className += " w3-gray";-->
<!--        } else {-->
<!--            x.className = x.className.replace(" w3-show", "");-->
<!--            x.previousElementSibling.className =-->
<!--                x.previousElementSibling.className.replace(" w3-gray", "");-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>