<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<script type="text/javascript" src="../static/javascript/hidedivInventar.js"
        th:src="@{/javascript/hidedivInventar.js}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<head>
    <meta charset="UTF-8">
    <title>Osnovna sredstva</title>
</head>
<style>
    html {
        background-color: lightgray;
    }

    table {
        border-collapse: collapse;
        width: auto;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 99;
        padding: 5px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .forms-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .form {
        margin-right: 0px;
        margin-bottom: 10px;
    }
</style>
<body>
<div class="w3-sidebar w3-bar-block" style="display:none;z-index:5; height: 100%; position: fixed; bottom: 0; left: 0;"
     id="mySidebar">
    <div style="flex: 1;">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Zatvori &times;</button>
        <a th:href="@{/index}" class="w3-bar-item w3-button">Glavni izbornik</a>
        <a th:href="@{/racun/all}" class="w3-bar-item w3-button">Računi</a>
        <a th:href="@{/dobavljac/all}" class="w3-bar-item w3-button">Dobavljači</a>
        <a th:href="@{/vrstaUredaja/all}" class="w3-bar-item w3-button">Vrste sredstva</a>
        <a th:href="@{/lokacija/all}" class="w3-bar-item w3-button">Lokacije</a>
        <a th:href="@{/korisnik/all}" class="w3-bar-item w3-button">Korisnici</a>
        <a th:href="@{/inventarIT/all}" class="w3-bar-item w3-button">IT oprema</a>
        <a th:href="@{/inventura/all}" class="w3-bar-item w3-button">Inventure</a>
        <a th:href="@{/provodenjeInventure/all}" class="w3-bar-item w3-button">Izvršavanje inventure</a>
    </div>

    <div style="text-align: center; position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">
        <img src="../images/A.jpg" alt="Logo" style="width: 175px; height: 175px;">
        <button id="logout" type="button" onclick="window.location.href='/logout'" style="margin-top: 10px;">Logout
        </button>
    </div>
</div>
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
<div>
    <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
    <img src="../images/AITAC values challenges solutions (1).png" class="centered-image" alt="Aitac VCS">
</div>
<div>
    <h1 class="w3-padding w3-center w3-opacity w3-xxxlarge" style="text-shadow:1px 1px 0 #444"><b>Osnovna sredstva</b>
    </h1>
</div>
<div class="div-container">
    <a th:href="@{/inventar/addNew}" class="button-add"><i class="material-icons">add_circle</i> Novi inventar</a>
    <a th:href="@{/inventar/generatePDF}" class="button-30">Izvještaj <i class="material-icons">picture_as_pdf</i></a>
</div>
<div class="forms-container" style="display: flex;">
    <form id="form1" class="w3-container w3-padding form" th:action="@{/inventar/find}" method="get">
        <label for="inventarniBroj"></label>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <input type="text" id="inventarniBroj" name="inventarniBroj" placeholder="Pretraži po inv. broju" required
                   onchange="this.setCustomValidity('')"
                   oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
            <div style="margin-top: 10px">
                <button onclick="hidedivInventar()" type="submit" class="button-small"><i class="fa fa-search" style="font-size:12px"></i> Pretraži</button>
                <button type="button" class="button-small" onclick="window.location.href='/inventar/all'">Prikaži sve</button>
            </div>
        </div>
        <label id="error-message" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
    </form>
    <form id="form2" class="w3-container w3-padding form" th:action="@{/inventar/findByVrsta}" method="get"
          th:object="${allVrstaUredaja}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <select class=" w3-border w3-round w3-center" id="idVrsteUredaja" name="idVrsteUredaja" required
                    onchange="this.setCustomValidity('');updateRequiredFields()"
                    oninvalid="this.setCustomValidity('Odaberite vrstu uređaja!')">
                <option value="">Odaberite vrstu uređaja</option>
                <option th:each="vrstaUredaja : ${allVrstaUredaja}" th:value="${vrstaUredaja.idVrsteUredaja}"
                        th:text="${vrstaUredaja.nazivVrsteUredaja}"></option>
            </select>
            <div style="margin-top: 17px">
                <button onclick="hidedivInventar()" type="submit" class="button-small"><i class="fa fa-search" style="font-size:12px"></i> Pretraži po vrsti</button>
            </div>
        </div>
    </form>
    <form id="form3" class="w3-container w3-padding form" th:action="@{/inventar/findByLokacija}" method="get"
          th:object="${allLokacija}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <select class=" w3-border w3-round w3-center" id="idLokacije" name="idLokacije" required
                    onchange="this.setCustomValidity('');updateRequiredFields()"
                    oninvalid="this.setCustomValidity('Odaberite lokaciju!')">
                <option value="">Odaberite lokaciju</option>
                <option th:each="lokacija : ${allLokacija}" th:value="${lokacija.idLokacije}"
                        th:text="${lokacija.nazivLokacije}"></option>
            </select>
        </div>
        <div style="margin-top: 17px">
            <button onclick="hidedivInventar()" type="submit" class="button-small"><i class="fa fa-search" style="font-size:12px"></i> Pretraži po lokaciji</button>
        </div>
    </form>
    <form id="form4" class="w3-container w3-padding form" th:action="@{/inventar/findByTipInventara}" method="get"
          th:object="${allVrstaUredaja}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <select class=" w3-border w3-round w3-center" id="tipInventara" name="tipInventara" required
                    onchange="this.setCustomValidity('');updateRequiredFields()"
                    oninvalid="this.setCustomValidity('Odaberite tip inventara!')">
                <option value="">Odaberite tip inventara</option>
                <option value="OS">Osnovna sredstva</option>
                <option value="SI">Sitni inventar</option>
            </select>
        </div>
        <div style="margin-top: 17px">
            <button onclick="hidedivInventar()" type="submit" class="button-small"><i class="fa fa-search" style="font-size:12px"></i> Pretraži po tipu inventara</button>
        </div>
    </form>
    <form id="form5" class="w3-container w3-padding form" th:action="@{/inventar/findByUser}" method="get"
          th:object="${allKorisnik}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <select class=" w3-border w3-round w3-center" id="username" name="username" required
                    onchange="this.setCustomValidity('');updateRequiredFields()"
                    oninvalid="this.setCustomValidity('Odaberite korisnika!')">
                <option value="">Odaberite korisnika</option>
                <option th:each="korisnik : ${allKorisnik}" th:value="${korisnik.username}"
                        th:text="${korisnik.firstName} + ' ' + ${korisnik.lastName}"></option>
            </select>
        </div>
        <div style="margin-top: 17px">
            <button onclick="hidedivInventar()" type="submit" class="button-small"><i class="fa fa-search" style="font-size:12px"></i> Pretraži po korisniku</button>
        </div>
    </form>
</div>
<div style="overflow-x:auto;">
    <table style="table-layout:auto;width:100%" class="w3-table-all w3-hoverable w3-centered w3-card-4">
        <thead>
        <tr>
            <th style="width: 45px" class="w3-dark-grey">Inventarni broj</th>
            <th class="w3-dark-grey">Naziv osnovnog sredstva</th>
            <th class="w3-dark-grey">Serijski broj</th>
            <th style="width: 150px" class="w3-dark-grey">Vrsta osnovnog sredstva<br></th>
            <th class="w3-dark-grey">Lokacija</th>
            <th style="width: 200px" class="w3-dark-grey">Osnovno sredstvo zaduženo na</th>
            <th style="width: 200px" class="w3-dark-grey">Nabavna vrijednost</th>
            <th style="width: 200px" class="w3-dark-grey">Napomena</th>
            <th class="w3-dark-grey"></th>
            <th class="w3-dark-grey"></th>
            <th class="w3-dark-grey"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inventar:${savInventar}">
            <td><p th:text="${inventar.inventarniBroj}"></p></td>
            <td><p th:text="${inventar.nazivUredaja}"></p></td>
            <td><p th:text="${inventar.serijskiBroj}"></p></td>
            <td><p th:text="${inventar.vrstaUredaja.nazivVrsteUredaja}"></p></td>
            <td><p th:text="${inventar.lokacija.nazivLokacije}"></p></td>
            <td><p th:if="${inventar.korisnik != null && inventar.korisnik.username != null}">
                <span th:text="${inventar.korisnik.firstName}"></span>
                <span th:text="${inventar.korisnik.lastName}"></span>
            </p>
                <p th:unless="${inventar.korisnik != null && inventar.korisnik.username != null}">
                </p></td>
            <td><p th:text="${inventar.nabavnaVrijednost} + ' EUR'"></p></td>
            <td><p th:text="${inventar.napomena}"></p></td>
            <td><a th:href="@{/inventar/update/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                   type="button" class="button-edit"><i class="fa fa-edit" style="font-size:24px"></i></a></td>
            <td><a th:href="@{/inventar/ean13/{inventarniBroj}(inventarniBroj=${inventar.inventarniBroj})}"
                   type="button" class="button-edit"><i class="fa fa-barcode" style="font-size:32px"></i></a></td>
            <td><a style="font-size:128px"
                   href="javascript:void(0);"
                   th:data-inventarni-broj="${inventar.inventarniBroj}"
                   onclick="confirmDelete()"
                   class="button-delete"><i class="material-icons">remove_circle</i></a></td>
        </tr>
        </tbody>
    </table>
    <button id="scrollToTopBtn" title="Go to top" class="button-toTop">Na početak</button>
</div>
<script>
    var scrollToTopBtn = document.getElementById("scrollToTopBtn");
    // Show the button when user scrolls down 20px from the top of the document
    window.onscroll = function () {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    };
    // Scroll to the top of the document when the button is clicked
    scrollToTopBtn.onclick = function () {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    };
</script>
<script>
    function confirmDelete() {
        // Retrieve the inventarniBroj value from the data attribute
        var dataAttribute = event.currentTarget.getAttribute('data-inventarni-broj');
        var isConfirmed = confirm("Are you sure you want to delete?");

        if (isConfirmed) {
            window.location.href = `/inventar/delete/${dataAttribute}`;
        }
    }
</script>
</body>
</html>