<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<script type="text/javascript" src="../static/javascript/hidedivDobavljac.js"
        th:src="@{/javascript/hidedivDobavljac.js}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razduženja</title>
</head>
<style>
    html {
        background-color: lightgray;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }


    /* Ensure that the container takes up the full width defined by its parent */
    .custom-select-container {
        position: relative;
        width: 100%; /* Matches the width of .w3-half */
        box-sizing: border-box; /* Ensures padding and border are included in the width */
    }

    /* Style the input field to match the W3.CSS styling */
    .custom-select-container input {
        width: 100%;
        box-sizing: border-box; /* Ensures padding and border are included in the width */
        padding: 8px;
        margin: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff; /* Matches the select background color */
        text-align: center; /* Center the text within the input */
    }

    /* Dropdown container styling */
    .custom-select {
        display: none; /* Hidden by default; will be shown on input focus */
        position: absolute;
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 1;
        box-sizing: border-box; /* Ensures border and padding are included in the width */
    }

    /* Style for each option in the dropdown */
    .custom-select div {
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid #ddd; /* Optional: Adds separation between options */
    }

    /* Hover effect for options */
    .custom-select div:hover {
        background-color: #ddd;
    }

    #searchKorisnik {
        background-image: url('/images/searchKorisnik.png');
        background-position: 10px 6px;
        background-repeat: no-repeat;
    }
</style>
<body>
<div class="w3-sidebar w3-bar-block" style="display:none;z-index:5; height: 100%; position: fixed; bottom: 0; left: 0;"
     id="mySidebar">
    <div class="sidebar-top">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Zatvori &times;</button>
        <a th:href="@{/index}" class="w3-bar-item w3-button">Glavni izbornik</a>
        <a th:href="@{/racun/all}" class="w3-bar-item w3-button">Računi/Dokumenti</a>
        <a th:href="@{/file/all}" class="w3-bar-item w3-button">Datoteke</a>
        <a th:href="@{/lokacija/all}" class="w3-bar-item w3-button">Lokacije</a>
        <a th:href="@{/vrstaUredaja/all}" class="w3-bar-item w3-button">Vrste sredstva</a>
        <a th:href="@{/korisnik/all}" class="w3-bar-item w3-button">Korisnici</a>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop2','icon2')">
                Oprema <i id="icon2" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop2" class="w3-hide w3-white w3-card">
                <a th:href="@{/inventar/all}" class="w3-bar-item w3-button">Osnovna sredstva</a>
                <a th:href="@{/inventarIT/all}" class="w3-bar-item w3-button">IT oprema</a>
            </div>
        </div>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop3','icon3')">
                Mobiteli <i id="icon3" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop3" class="w3-hide w3-white w3-card">
                <a th:href="@{/phones/all}" class="w3-bar-item w3-button">Svi mobiteli</a>
                <a th:href="@{/mobilnaTarifa/all}" class="w3-bar-item w3-button">Mobilne tarife</a>
            </div>
        </div>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop1','icon1')">
                Inventura <i id="icon1" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop1" class="w3-hide w3-white w3-card">
                <a th:href="@{/inventura/all}" class="w3-bar-item w3-button">Inventure</a>
                <a th:href="@{/provodenjeInventure/all}" class="w3-bar-item w3-button">Izvršavanje inventure</a>
            </div>
        </div>
        <a th:href="@{/appUsers/all}" class="w3-bar-item w3-button">App useri</a>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc('resetPasswordDrop', 'icon')">
                Password settings <i id="icon" class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop" class="w3-hide w3-white w3-card">
                <a th:href="@{/appUsers/userResetPassword/}" class="w3-bar-item w3-button">Reset password</a>
            </div>
        </div>
    </div>
    <div class="sidebar-bottom">
        <img src="../images/A.jpg" alt="Logo" style="width: 175px; height: 175px;">
        <button id="logout" type="button" onclick="window.location.href='/logout'" style="margin-top: 10px;">Logout
        </button>
    </div>
</div>
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
<div>
    <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
    <a th:href="@{/index}">
        <img src="../images/AITACvaluesChallengesSolutions.png" class="centered-image" alt="Aitac VCS">
    </a>
</div>
<h1 class="w3-padding w3-center w3-opacity w3-xxxlarge" style="text-shadow:1px 1px 0 #444"><b>Razduženja</b></h1>
<div class="w3-right">
    <a th:href="@{/razduzenje/generatePDF}" style="margin-right: 20px" class="button-30">Izvještaj <i
            class="material-icons">picture_as_pdf</i></a>
</div>
<div style="display: flex;">
    <form id="form1" class="w3-container w3-padding form" th:action="@{/razduzenje/find}" method="get">
        <label for="inventarniBroj"></label>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <input type="text" id="inventarniBroj" name="inventarniBroj" placeholder="Pretraži po inv. broju" required
                   onchange="this.setCustomValidity('')"
                   oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
            <div style="margin-top: 10px">
                <button onclick="hidedivRazduzenje()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                            style="font-size:12px"></i>
                    Pretraži
                </button>
                <button type="button" class="button-small" onclick="window.location.href='/razduzenje/all'">Prikaži
                    sve
                </button>
            </div>
        </div>
        <label id="error-message" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
    </form>
    <form id="form5" class="w3-container w3-padding form" th:action="@{/razduzenje/findByUser}" method="get"
          th:object="${allKorisnik}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="custom-select-container">
                <input type="text" id="searchKorisnik" placeholder="Upišite korisnika..."
                       onfocus="showOptions()" oninput="filterFunction()"
                       class="w3-input w3-border w3-round w3-center" autocomplete="off">
                <div id="korisnikOptions" class="custom-select">
                    <div th:each="korisnik : ${allKorisnik}" th:data-value="${korisnik.username}"
                         th:text="${korisnik.firstName} + ' ' + ${korisnik.lastName}"
                         onclick="selectKorisnik(this)">
                    </div>
                </div>
            </div>
            <input type="hidden" id="username" name="username" required
                   oninvalid="this.setCustomValidity('Odaberite korisnika!')">
            <div style="margin-top: 17px">
                <button onclick="hidedivRazduzenje()" type="submit" class="button-small"><i class="fa fa-search"
                                                                                            style="font-size:12px"></i>Pretraži
                    po korisniku
                </button>
            </div>
        </div>
    </form>
</div>
<div style="overflow-x:auto;">
    <table style="table-layout:auto;width:100%" class="w3-table-all w3-hoverable w3-centered w3-card-4">
        <thead>
        <tr>
            <th class="w3-dark-grey">ID</th>
            <th class="w3-dark-grey">Inventarni broj</th>
            <th class="w3-dark-grey">Naziv uređaja</th>
            <th class="w3-dark-grey">Serijski broj</th>
            <th class="w3-dark-grey">Hostname</th>
            <th class="w3-dark-grey">Lokacija</th>
            <th class="w3-dark-grey">Korisnik</th>
            <th class="w3-dark-grey">Datum zaduženja</th>
            <th class="w3-dark-grey">Datum razduženja</th>
            <th class="w3-dark-grey">Napomena</th>
            <th class="w3-dark-grey">Razdužio</th>
            <th class="w3-dark-grey"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="razduzenje:${svaRazduzenja}">
            <td><p th:text="${razduzenje.idRazduzenja}"></p></td>
            <td><p th:if="${razduzenje.inventar != null && razduzenje.inventar.inventarniBroj != null}">
                <span th:text="${razduzenje.inventar.inventarniBroj}"></span>
            </p>
                <p th:unless="${razduzenje.inventar != null && razduzenje.inventar.inventarniBroj != null}">
                </p>
            </td>
            <!--            <td><p th:text="${razduzenje.inventar.inventarniBroj}"></p></td>-->
            <td><p th:if="${razduzenje.inventar != null && razduzenje.inventar.nazivUredaja != null}">
                <span th:text="${razduzenje.inventar.nazivUredaja}"></span>
            </p>
                <p th:unless="${razduzenje.inventar != null && razduzenje.inventar.nazivUredaja != null}">
                </p>
            </td>
            <!--            <td><p th:text="${razduzenje.inventar.nazivUredaja}"></p></td>-->
            <td><p th:if="${razduzenje.inventar != null && razduzenje.inventar.serijskiBroj != null}">
                <span th:text="${razduzenje.inventar.serijskiBroj}"></span>
            </p>
                <p th:unless="${razduzenje.inventar != null && razduzenje.inventar.serijskiBroj != null}">
                </p>
            </td>
            <!--            <td><p th:text="${razduzenje.inventar.serijskiBroj}"></p></td>-->
            <td><p th:text="${razduzenje.hostname}"></p></td>
            <td><p th:text="${razduzenje.lokacija.nazivLokacije}"></p></td>
            <td><p th:if="${razduzenje.korisnik != null && razduzenje.korisnik.username != null}">
                <span th:text="${razduzenje.korisnik.firstName}"></span>
                <span th:text="${razduzenje.korisnik.lastName}"></span>
            </p>
                <p th:unless="${razduzenje.korisnik != null && razduzenje.korisnik.username != null}">
                </p>
            </td>
            <!--            <td><p th:text="${razduzenje.korisnik.firstName} + ' ' + ${razduzenje.korisnik.lastName}"></p></td>-->
            <td><p th:text="${razduzenje.datumZaduzenja}"></p></td>
            <td><p th:text="${razduzenje.datumRazduzenja}"></p></td>
            <td><p th:text="${razduzenje.napomena}"></p></td>
            <td><p th:text="${razduzenje.user.firstName} + ' ' + ${razduzenje.user.lastName}"></p></td>
            <td><a style="font-size:128px"
                   href="javascript:void(0);"
                   th:onclick="'confirmDelete(' + ${razduzenje.idRazduzenja} + ')'"
                   class="button-delete"><i class="material-icons">remove_circle</i></a></td>
        </tr>
        </tbody>
    </table>
    <button id="scrollToTopBtn" title="Go to top" class="button-toTop">Na početak</button>
</div>
<script>
    var scrollToTopBtn = document.getElementById("scrollToTopBtn");
    // Show the button when user scrolls down 20px from the top of the document
    window.onscroll = function () {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    };
    // Scroll to the top of the document when the button is clicked
    scrollToTopBtn.onclick = function () {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    };
</script>
<script>
    function confirmDelete(idRazduzenja) {
        var isConfirmed = confirm("Are you sure you want to delete?");

        if (isConfirmed) {
            window.location.href = `/razduzenje/delete/${idRazduzenja}`;
        }
    }
</script>
<script>
    function showOptions() {
        document.getElementById("korisnikOptions").style.display = "block";
    }

    function filterFunction() {
        var input, filter, div, i, txtValue;
        input = document.getElementById("searchKorisnik");
        filter = input.value.toUpperCase();
        div = document.getElementById("korisnikOptions");
        options = div.getElementsByTagName("div");

        for (i = 0; i < options.length; i++) {
            txtValue = options[i].textContent || options[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                options[i].style.display = "";
            } else {
                options[i].style.display = "none";
            }
        }
    }

    function selectKorisnik(option) {
        var input = document.getElementById("searchKorisnik");
        var hiddenInput = document.getElementById("username");
        input.value = option.innerText;
        hiddenInput.value = option.getAttribute("data-value");
        document.getElementById("korisnikOptions").style.display = "none";
    }

    document.addEventListener("click", function (event) {
        var isClickInside = document.getElementById("searchKorisnik").contains(event.target);
        var isOptionClick = document.getElementById("korisnikOptions").contains(event.target);

        if (!isClickInside && !isOptionClick) {
            document.getElementById("korisnikOptions").style.display = "none";
        }
    });
</script>
</body>
</html>