<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Glavni izbornik</title>
</head>
<body>
<div>
    <header class="w3-display-container w3-display-topmiddle">
        <h1 style="text-align: center">EVIDENCIJA IT OPREME I KORISNIKA</h1>
    </header>
    <div class="w3-container w3-display-middle">
        <button class="button-30" role="button" onclick="window.location.href='/lokacija/all'">Lokacije</button>
        <button class="button-30" role="button" onclick="window.location.href='/dobavljac/all'">Dobavljači</button>
        <button class="button-30" role="button" onclick="window.location.href='/vrstaUredaja/all'">Vrste uređaja</button>
        <button class="button-30" role="button" onclick="window.location.href='/racun/all'">Računi</button>
        <button class="button-30" role="button" onclick="window.location.href='/korisnik/all'">Korisnici</button>
        <button class="button-30" role="button" onclick="window.location.href='/inventar/all'">Inventar</button>
    </div>
</div>


</body>
</html>