<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div class="w3-card-4 w3-center w3-display-middle" style="width: 50%; position: fixed">
    <div class="w3-container w3-gray">
        <h2 class="w3-text-light-grey" style="display: inline-block; line-height: 30px;">Resetiranje lozinke</h2>
        <a class="button-30 w3-right" th:href="@{/appUsers/cancel}"><b>Odustani</b></a>
    </div>
    <div id="message" th:if="${message}" class="w3-panel w3-green w3-display-container">
        <span th:text="${message}"></span>
    </div>
    <div id="error" th:if="${error}" class="w3-panel w3-red w3-display-container">
        <span th:text="${error}"></span>
    </div>
    <form class="w3-container w3-light-grey" th:action="@{/appUsers/resetPassword}" method="POST">
        <div class="w3-row-padding">
            <p class="w3-center">
                <input class="w3-input w3-border w3-round w3-center" id="username" name="username" type="text"
                       placeholder="Upišite svoje korisničko ime" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Upišite svoje korisničko ime!')"></p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="password"><b>Nova lozinka</b></label>
                <input class="w3-input w3-border w3-round w3-center" id="password" name="password" type="password"
                       placeholder="Upišite novu lozinku" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Polje nove lozinke ne može biti prazno!')"></p>
        </div>
        <div class="w3-show-inline-block">
            <div class="w3-bar">
                <button onclick="hidediv()" class="button-30" type="submit"><b>Resetiraj lozinku</b></button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    // Clear the password field when the page loads
    document.getElementById("password").value = "";

    function hidediv() {
        var message = document.getElementById('message');
        var error = document.getElementById('error');

        if (message) {
            message.style.display = "none";
        }
        if (error) {
            error.style.display = "none";
        }
    }

    setTimeout("hidediv()", 5000);
</script>
</html>
