<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<head>
  <meta charset="UTF-8">
  <title>Lokacije</title>
</head>
<body>
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Zatvori &times;</button>
  <a th:href="@{/index}" class="w3-bar-item w3-button">Glavni izbornik</a>
  <a th:href="@{/racun/all}" class="w3-bar-item w3-button">Računi</a>
  <a th:href="@{/dobavljac/all}" class="w3-bar-item w3-button">Dobavljači</a>
  <a th:href="@{/vrstaUredaja/all}" class="w3-bar-item w3-button">Vrste uređaja</a>
  <a th:href="@{/korisnik/all}" class="w3-bar-item w3-button">Korisnici</a>
</div>
<button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
<h1 class="w3-padding w3-center w3-opacity w3-xxxlarge" style="text-shadow:1px 1px 0 #444"><b>Lokacije</b></h1>
<div class="w3-padding">
  <a th:href="@{/lokacija/addNew}" class="w3-button w3-gray w3-large w3-hover-green w3-cell-middle"><i class="material-icons">add_circle</i> Nova lokacija</a>
</div>
<form class="w3-container" th:action="@{/lokacija/find}" method="get">
  <label for="nazivLokacije">Search by name:</label>
  <input type="text" id="nazivLokacije" name="nazivLokacije" placeholder="Pretraži lokaciju po nazivu" required
         onchange="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
  <button onclick="hidediv()" type="submit">Pretraži</button>
  <button type="button" onclick="window.location.href='/lokacija/all'">Prikaži sve</button>
  <label id="error-message" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
</form>
<div style="overflow-x:auto;">
<table style="table-layout:auto;width:100%" class="w3-table-all w3-hoverable w3-centered w3-card-4">
  <thead>
  <tr>
    <th class="w3-dark-grey">ID</th>
    <th class="w3-dark-grey">Name</th>
    <th class="w3-dark-grey"></th>
    <th class="w3-dark-grey"></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="lokacija:${sveLokacije}">
    <td th:text="${lokacija.idLokacije}"></td>
    <td th:text="${lokacija.nazivLokacije}"></td>
    <td> <a th:href="@{/lokacija/update/{id}(id=${lokacija.idLokacije})}" type="button" class="w3-button w3-gray w3-xlarge w3-hover-orange"><i class='fas fa-edit'></i></a></td>
    <td> <a style="font-size:128px" th:href="@{/lokacija/delete/{id}(id=${lokacija.idLokacije})}" class="w3-button w3-gray w3-xlarge w3-hover-red"><i class="material-icons">remove_circle</i></a></td>
  </tr>
  </tbody>
</table>
</div>
<!--<script>-->
<!--  // Get all modal elements-->
<!--  var modals = document.getElementsByClassName('w3-modal');-->

<!--  // When the user clicks anywhere outside of a modal, close it-->
<!--  window.onclick = function (event) {-->
<!--    for (var i = 0; i < modals.length; i++) {-->
<!--      if (event.target == modals[i]) {-->
<!--        modals[i].style.display = "none";-->
<!--        break;-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--</script>-->
<script>
  function hidediv(){
    document.getElementById("error-message").style.visibility="hidden";
  }
  setTimeout("hidediv()",5000);
</script>
</body>
</html>