<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<script type="text/javascript" src="../static/javascript/hidedivLokacija.js"
        th:src="@{/javascript/hidedivLokacija.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokacije</title>
</head>
<style>
    html {
        background-color: lightgray;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
</style>
<body>
<div class="w3-sidebar w3-bar-block" style="display:none;z-index:5; height: 100%; position: fixed; bottom: 0; left: 0;"
     id="mySidebar">
    <div class="sidebar-top">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Zatvori &times;</button>
        <a th:href="@{/index}" class="w3-bar-item w3-button">Glavni izbornik</a>
        <a th:href="@{/racun/all}" class="w3-bar-item w3-button">Računi/Dokumenti</a>
        <a th:href="@{/file/all}" class="w3-bar-item w3-button">Datoteke</a>
        <a th:href="@{/dobavljac/all}" class="w3-bar-item w3-button">Dobavljači</a>
        <a th:href="@{/vrstaUredaja/all}" class="w3-bar-item w3-button">Vrste sredstva</a>
        <a th:href="@{/korisnik/all}" class="w3-bar-item w3-button">Korisnici</a>
        <a th:href="@{/inventar/all}" class="w3-bar-item w3-button">Osnovna sredstva</a>
        <a th:href="@{/inventarIT/all}" class="w3-bar-item w3-button">IT oprema</a>
        <a th:href="@{/razduzenje/all}" class="w3-bar-item w3-button">Razduženja</a>
        <a th:href="@{/inventura/all}" class="w3-bar-item w3-button">Inventure</a>
        <a th:href="@{/provodenjeInventure/all}" class="w3-bar-item w3-button">Izvršavanje inventure</a>
        <a th:href="@{/appUsers/all}" class="w3-bar-item w3-button">App useri</a>
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="resetPasswordDropFunc()">
                Password settings <i class="fa fa-caret-down"></i>
            </button>
            <div id="resetPasswordDrop" class="w3-hide w3-white w3-card">
                <a th:href="@{/appUsers/userResetPassword/}" class="w3-bar-item w3-button">Reset password</a>
            </div>
        </div>
    </div>
    <div class="sidebar-bottom">
        <img src="../images/A.jpg" alt="Logo" style="width: 175px; height: 175px;">
        <button id="logout" type="button" onclick="window.location.href='/logout'" style="margin-top: 10px;">Logout
        </button>
    </div>
</div>
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
<div>
    <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
    <a th:href="@{/index}">
        <img src="../images/AITAC values challenges solutions (1).png" class="centered-image" alt="Aitac VCS">
    </a>
</div>
<h1 class="w3-padding w3-center w3-opacity w3-xxxlarge" style="text-shadow:1px 1px 0 #444"><b>Lokacije</b></h1>
<div class="div-container">
    <a th:href="@{/lokacija/addNew}" class="button-add"><i class="material-icons">add_circle</i> Nova lokacija</a>
    <a th:href="@{/lokacija/generatePDF}" class="button-30 w3-right">Izvještaj <i
            class="material-icons">picture_as_pdf</i></a>
</div>
<form class="w3-container" th:action="@{/lokacija/find}" method="get" style="margin-bottom: 20px">
    <input type="text" id="nazivLokacije" name="nazivLokacije" placeholder="Pretraži lokaciju po nazivu" required
           onchange="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Popunite polje za pretraživanje!')">
    <button onclick="hidedivLokacija()" type="submit" class="button-30"><i class="fa fa-search"
                                                                           style="font-size:20px"></i> Pretraži
    </button>
    <button type="button" class="button-30" onclick="window.location.href='/lokacija/all'">Prikaži sve</button>
    <label id="error-message" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
</form>
<div style="overflow-x:auto;">
    <table style="table-layout:auto;width:100%" class="w3-table-all w3-hoverable w3-centered w3-card-4">
        <thead>
        <tr>
            <th class="w3-dark-grey">ID lokacije</th>
            <th class="w3-dark-grey">Naziv lokacije</th>
            <th class="w3-dark-grey"></th>
            <th class="w3-dark-grey"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lokacija:${sveLokacije}">
            <td th:text="${lokacija.idLokacije}"></td>
            <td th:text="${lokacija.nazivLokacije}"></td>
            <td><a th:href="@{/lokacija/update/{id}(id=${lokacija.idLokacije})}" type="button" class="button-edit"><i
                    class="fa fa-edit" style="font-size:36px"></i></a></td>
            <td><a style="font-size:128px"
                   href="javascript:void(0);"
                   th:onclick="'confirmDelete(' + ${lokacija.idLokacije} + ')'"
                   class="button-delete"><i class="material-icons">remove_circle</i></a></td>
        </tr>
        </tbody>
        <button id="scrollToTopBtn" title="Go to top" class="button-toTop">Na početak</button>
    </table>
</div>
<script>
    var scrollToTopBtn = document.getElementById("scrollToTopBtn");
    // Show the button when user scrolls down 20px from the top of the document
    window.onscroll = function () {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    };
    // Scroll to the top of the document when the button is clicked
    scrollToTopBtn.onclick = function () {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    };
</script>
<script>
    function confirmDelete(idLokacije) {
        var isConfirmed = confirm("Are you sure you want to delete?");

        if (isConfirmed) {
            window.location.href = `/lokacija/delete/${idLokacije}`;
        }
    }
</script>
<script>
    function resetPasswordDropFunc() {
        var x = document.getElementById("resetPasswordDrop");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-gray";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-gray", "");
        }
    }
</script>
</body>
</html>