<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Ažuriranje Usera</title>
</head>
<style>
    html {
        background-color: #232f83;
    }
</style>
<body>
<div class="w3-card-4 w3-center w3-display-middle" style="width: 50%; position: fixed">
    <div class="w3-container w3-gray">
        <h2 class="w3-text-light-grey" th:object="${user}" th:text="'User '+*{firstName}+' '+*{lastName}" style="display: inline-block; line-height: 30px;">
        </h2>
        <a class="button-30 w3-right" th:href="@{/appUsers/cancel}"><b>Odustani</b></a>
    </div>
    <form class="w3-container w3-light-grey" action="#" th:action="@{/appUsers/updatePassword}" th:object="${user}"
          method="POST">
        <div class="w3-row-padding">
            <p class="w3-center">
                <input class="w3-input w3-border w3-round w3-center" id="idUsera" name="idUsera" type="hidden"
                       th:field="*{id}" placeholder="Nepotreban unos, sustav sam upisuje!" readonly></p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="password"><b>Nova lozinka</b></label>
                <input class="w3-input w3-border w3-round w3-center" id="password" name="password" type="text" placeholder="Unesite novu lozinku"
                       th:field="*{password}" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Upišite novu lozinku')"></p>
            <p>
        </div>
        <div class="w3-show-inline-block">
            <div class="w3-bar">
                <button class="button-30"><b>Promijeni lozinku</b></button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    // Clear the password field when the page loads
    document.getElementById("password").value = "";

    function hidediv() {
        var errMessages = document.getElementsByClassName('error');
        for (var i = 0; i < errMessages.length; i++) {
            errMessages[i].style.display = "none";
        }
    }

    setTimeout("hidediv()", 5000);
</script>
</html>
