<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Ažuriranje Usera</title>
</head>
<style>
    html {
        background-color: #232f83;
    }
</style>
<body>
<div class="w3-card-4 w3-center w3-display-middle" style="width: 50%; position: fixed">
    <div class="w3-container w3-gray">
        <h2 class="w3-text-light-grey" th:object="${user}" th:text="'User '+*{firstName}+' '+*{lastName}" style="display: inline-block; line-height: 30px;">
        </h2>
        <button class="button-30 w3-right" onclick="window.location.href='/appUsers/all'"><b>Odustani</b></button>
    </div>
    <form class="w3-container w3-light-grey" action="#" th:action="@{/appUsers/save}" th:object="${user}"
          method="POST">
        <div class="w3-row-padding">
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="idUsera"><b>ID usera</b><br></label>
                <input class="w3-input w3-border w3-round w3-center" id="idUsera" name="idUsera" type="text"
                       th:field="*{id}" placeholder="Nepotreban unos, sustav sam upisuje!" readonly></p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="username"><b>Username</b><br></label>
                <input style="font-size: x-large" class="w3-input w3-border w3-round w3-center" id="username"
                       name="username" type="text" th:field="*{userName}" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Ispunite polje za username!')"></p>
            <p class="w3-half">
                <label class="w3-text-dark-grey" for="firstName"><b>Ime</b><br></label>
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ime error</span>
                <input class="w3-input w3-border w3-round w3-center" id="firstName" name="firstName" type="text"
                       th:field="*{firstName}" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Ispunite polje za ime!')"></p>
            <p class="w3-half">
                <label class="w3-text-dark-grey" for="lastName"><b>Prezime</b><br></label>
                <span class="error" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}">Prezime error</span>
                <input class="w3-input w3-border w3-round w3-center" id="lastName" name="lastName" type="text"
                       th:field="*{lastName}" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Ispunite polje za prezime!')"></p>
            <p>
            <p class="w3-half">
                <label class="w3-text-dark-grey" for="active"><b>Active</b></label>
                <select id="active" class="w3-input w3-border w3-round w3-center" th:field="*{active}">
                    <option th:value="'0'" th:text="False"></option>
                    <option th:value="'1'" th:text="True" selected></option>
                </select>
            </p>
            <p class="w3-half">
                <label class="w3-text-dark-grey" for="role"><b>Role</b></label>
                <select id="role" class="w3-input w3-border w3-round w3-center" th:field="*{roles}"
                        required
                        onchange="this.setCustomValidity('')"
                        oninvalid="this.setCustomValidity('Odaberite rolu!')">
                    <option th:value="'SUPER_ADMIN'" th:text="Super admin"></option>
                    <option th:value="'ADMIN'" th:text="Admin"></option>
                    <option th:value="'USER'" th:text="User"></option>
                </select>
            </p>
        </div>
        <div class="w3-show-inline-block">
            <div class="w3-bar">
                <button class="button-30"><b>Ažuriraj usera</b></button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    function hidediv() {
        var errMessages = document.getElementsByClassName('error');
        for (var i = 0; i < errMessages.length; i++) {
            errMessages[i].style.display = "none";
        }
    }

    setTimeout("hidediv()", 5000);
</script>
</html>
