<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link th:href="@{/CSS/customStyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>-->
<script type="text/javascript" src="../static/javascript/sidebar.js" th:src="@{/javascript/sidebar.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Dodavanje računa/dokumenta</title>
</head>
<style>
    html {
        background-color: #232f83;
    }
</style>
<body>
<div class="w3-card-4 w3-center w3-display-middle w3-light-grey" style="width: 50%; position: fixed">
    <div class="w3-container w3-gray">
        <h2 class="w3-text-light-grey"><b>Forma za dodavanje novog računa/dokumenta</b>
            <button class="w3-right button-30" onclick="window.location.href='/racun/all'"><b>Odustani</b></button>
        </h2>
    </div>
    <form class="w3-container w3-light-grey" action="#" th:action="@{/racun/addNew}" th:object="${racun}" method="POST" enctype="multipart/form-data">
        <div class="w3-row-padding">
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="idRacuna"><b>ID računa/dokumenta</b><br></label>
                <input class="w3-input w3-border w3-round w3-center" id="idRacuna" name="idRacuna" type="text"
                       th:field="*{idRacuna}" placeholder="Nepotreban unos, sustav sam upisuje!" readonly>
            </p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="brojRacuna"><b>Broj računa/dokumenta dobavljača</b><br></label>
                <label id="error-message" class="error alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
                <input class="w3-input w3-border w3-round w3-center" id="brojRacuna" name="brojRacuna" type="text"
                       th:field="*{brojRacuna}"
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Napišite broj računa/dokumenta!')">
            </p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="brojUre"><b>Broj računa/dokumenta URE</b><br></label>
                <label id="error-message2" class="error alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></label>
                <input class="w3-input w3-border w3-round w3-center" id="brojUre" name="brojRacuna" type="text"
                       th:field="*{brojUre}"
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Napišite broj URE!')">
            </p>
            <p class="w3-center">
                <label class="w3-text-dark-grey" for="datumRacuna"><b>Datum računa/dokumenta</b><br></label>
                <input class="w3-input w3-border w3-round w3-center" id="datumRacuna" name="datumRacuna" type="date"
                       th:field="*{datumRacuna}" required
                       onchange="this.setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Ispunite datum računa/dokumenta!')">
            </p>
            <p class="w3-center">
                <label class="w3-text-dark-grey"><b>Odaberite datoteku računa/dokumenta</b><br></label>
                <!-- Drop zone -->
                <span id="dropZone" class="drop-zone"><span class="material-symbols-outlined">place_item</span> Pustite datoteku ovdje ili kliknite za <span class="material-symbols-outlined">note_add</span> odabir</span>
                <!-- Message for no file chosen -->
                <span id="fileMessage" class="file-message">Morate odabrati datoteku!</span>
                <!-- File input -->
                <input type="file" name="datoteka" id="fileInput" required style="display: none;"/>
            </p>
            <div class="w3-center">
                <button class="button-30" type="submit"><b>Dodaj račun/dokument</b></button>
            </div>
        </div>
    </form>

</div>
</body>
<script>
    function hidediv() {
        var errMessages = document.getElementsByClassName('error');
        for (var i = 0; i < errMessages.length; i++) {
            errMessages[i].style.display = "none";
        }
    }

    setTimeout("hidediv()", 5000);
</script>
<script>
    // Function to handle file input change
    function handleFileInputChange(e) {
        var file = e.target.files[0];
        if (file) {
            document.getElementById('fileMessage').innerText = file.name;
        } else {
            document.getElementById('fileMessage').innerText = 'Morate odabrati datoteku!';
        }
    }

    // Function to handle drag over event
    function handleDragOver(e) {
        e.preventDefault();
        e.stopPropagation();
        e.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
        document.getElementById('dropZone').classList.add('drag-over');
    }

    // Function to handle drag leave event
    function handleDragLeave(e) {
        e.preventDefault();
        e.stopPropagation();
        document.getElementById('dropZone').classList.remove('drag-over');
    }

    // Function to handle drop event
    function handleDrop(e) {
        e.preventDefault();
        e.stopPropagation();

        var file = e.dataTransfer.files[0];
        if (file) {
            document.getElementById('fileMessage').innerText = file.name;
            document.getElementById('fileInput').files = e.dataTransfer.files;
        }
        document.getElementById('dropZone').classList.remove('drag-over');
    }

    // Function to open file explorer when drop zone is clicked
    function handleDropZoneClick() {
        document.getElementById('fileInput').click();
    }

    // Add event listeners
    document.getElementById('fileInput').addEventListener('change', handleFileInputChange);
    document.getElementById('dropZone').addEventListener('click', handleDropZoneClick);
    document.getElementById('dropZone').addEventListener('dragover', handleDragOver);
    document.getElementById('dropZone').addEventListener('dragleave', handleDragLeave);
    document.getElementById('dropZone').addEventListener('drop', handleDrop);
</script>
</html>
